/* Barra de navegacion y footer*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
  }
  
  .navbar {
    background-color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 65px;
    height: 60px;
    margin-right: 10px;
  }
  
  .navbar span {
    color: #59009A;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .servicios {
    position: relative;
  }
  
  .submenu {
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    top: 40px;
    left: 0;
    width: auto;
  }
  
  .servicios:hover .submenu {
    display: block;
  }
  
  .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .submenu li:hover {
    background-color: #f0f0f0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }

  .imagen-usuario{
    width: 30px;
    height: 30px;
  }
  
  .body {
    padding: 20px;
  }
  
  .footer {
    background-color: #59009A;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    align-items: center;
  }
  
  .contactamos,
  .canales-atencion,
  .social-media {
    display: flex;
    align-items: center;
    margin-right: 1px;
  }
  
  .contactanos span,
  .canales-atencion span,
  .social-media span {
    margin-right: 10px;
  }
  
  .texto-footer {
    text-align: right;
  }


  /* Contenido del body*/

  body {
    font-family: Arial, sans-serif;
}

.frases {
    text-align: center;
}

.frases p {
    font-size: 20px;
    margin: 0;
    padding: 20px;
    color: #59009A;
}

.arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.carrusel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cuadro {
    margin: 0 10px;
    text-align: center;
    transition: transform 0.3s;
}

.cuadro img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
}

.cuadro p {
    margin-top: 5px;
    color: #59009A;
}

.cuadro:hover {
    transform: scale(1.1);
}

.cuadro:hover img {
    transform: scale(1.2);
}




  