body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  header {
    background-color: white; 
      color: #6a1b9a;
    padding: 10px 0;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .specialist {
    display: flex;
    align-items: center;
  }
  
  .specialist .name {
    margin-left: 10px;
  }
  
  .specialist .icon {
    font-size: 20px;
  }
  
  .schedule-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .schedule {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }
  
  .schedule-info {
    display: flex;
    justify-content: space-between;
  }
  
  .schedule-info .details {
    display: flex;
    flex-direction: column;
  }
  
  .schedule-info .details span {
    margin-bottom: 5px;
  }
  
  .schedule-info .cancel {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .schedule-info .cancel svg {
    margin-right: 5px;
  }
  
  .footer {
    background-color: #6a1b9a;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }